@model TheBookBusinessAccounting.Models.UserViewModel

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.UserLogin)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UserLogin)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.UserName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UserName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Редактировать", "EditUser", new { id = Model.Id }) |
	@Html.ActionLink("Удалить", "DeleteUser", new { id = Model.Id })
</p>