@model TheBookBusinessAccounting.Models.ImageViewModel

@{
	ViewBag.Title = "AddImage";
}

<h2>Добавить изображение</h2>

@using (Html.BeginForm("AddImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
<fieldset>
	<div class="form-group">
		<div class="editor-label col-md-2">Файл изображения</div>
		<div class="editor-field col-md-10 ">
			<input type="file" name="uploadImage" />
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.ItemId, new SelectList(Model.Items, "Key", "Value") as IEnumerable<SelectListItem>)
			@Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
		</div>
	</div>

			<p>
				<input type="submit" value="Добавить" />
			</p>
</fieldset>

}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}